<ion-modal-view view-title="New Taxi Request">
  <ion-content padding="true" scroll="false" class="has-header">
    <form>
      <h3>New Taxi Request</h3>
      <br>
      <div class="card">
        <a href="#/app/booking/{{new_request_data.id}}" class="item item-icon-left" ng-click="closeModal()">
          <i class="icon ion-email"></i>
          <strong>From: </strong><span class="capitalize">{{new_request_data.start_location}}</span> <br>
          <strong>To: </strong><span class="capitalize">{{new_request_data.destination}}</span>
        </a>
      </div>
      <button class="button button-block button-positive" type="button" ng-click="acceptRequest()">Accept</button>
      <br>
      <button class="button button-block button-assertive" type="button" ng-click="rejectRequest()">Reject</button>
    </form>
  </ion-content>
</ion-modal-view>
