<ion-view view-title="Profile">
  <ion-header-bar>
    <h1 class="title">My Profile</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="updateProfile()">
      <div class="list">
        <br>
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" required ng-model="profileData.user.first_name">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" required ng-model="profileData.user.last_name">
        </label>
        <label class="item item-input">
          <span class="input-label">Date of Birth</span>
          <input type="text" required ng-model="profileData.user.dob" value="{{profileData.user.dob | date:'dd/MM/yyyy'}}">
        </label>
        <label class="item item-input">
          <span class="input-label">Car Type</span>
          <input type="text" required ng-model="profileData.driver.car_model">
        </label>
        <label class="item item-input">
          <span class="input-label">Car Colour</span>
          <input type="text" required ng-model="profileData.driver.car_color">
        </label>
        <label class="item item-input">
          <span class="input-label">Plate Number</span>
          <input type="text" required ng-model="profileData.driver.plate_number">
        </label>
        <label class="item item-input">
          <span class="input-label">Email Address</span>
          <input type="text" value="{{profileData.user.email}}">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Update</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
