<ion-view view-title="Register">
  <ion-header-bar>
    <h1 class="title">Register</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doRegister()">
      <div class="list">
        <input type="hidden" ng-model="registerData.user_type" value="Driver">
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="registerData.first_name">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="password" ng-model="registerData.last_name">
        </label>
        <label class="item item-input">
          <span class="input-label">Date of Birth</span>
          <input type="date" ng-model="registerData.dob">
        </label>
        <label class="item item-input">
          <span class="input-label">Car Type</span>
          <input type="text" ng-model="registerData.car_type">
        </label>
        <label class="item item-input">
          <span class="input-label">Plate Number</span>
          <input type="text" ng-model="registerData.plate_number">
        </label>
        <label class="item item-input">
          <span class="input-label">Email Address</span>
          <input type="text" ng-model="registerData.email_address">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="registerData.password">
        </label>
        <label class="item item-input">
          <span class="input-label">Confirm Password</span>
          <input type="password" ng-model="registerData.confirmation_password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Register</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
