<ion-view view-title="Status">
  <ion-content>
    <h1>My Status</h1>
    <br>
    <div class="card">
      <div class="item item-text-wrap">
        Change your status
      </div>
    </div>
    <form ng-submit="changeStatus()">
      <div class="list">

        <label class="item item-input item-select">
          <div class="input-label">Status</div>
          <select ng-model="profileData.driver.status">
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
            <option value="Busy">Busy</option>
            <option value="Transit">Transit</option>
          </select>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Set Status</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
